name: Interaction Limits Settings Management (main)

on:
  workflow_dispatch:

jobs:
  interaction-mgmt:
    runs-on: ubuntu-latest

    env:
      GITHUB_URL: https://api.github.com/user/interaction-limits # Org. API endpoint is https://api.github.com/orgs/RocketChat/interaction-limits
      PERSONAL_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
      WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}

    steps:
      - uses: actions/checkout@v4

      - name: Check the interaction limits setting
        id: check
        run: |
          set -euo pipefail
          curl -s \
            -H "Authorization: Bearer ${PERSONAL_TOKEN}" \
            "${GITHUB_URL}" \
            -o response.json

            
      - name: Manage limits      
        id: manage
        run: |
          set -euo pipefail
          if jq -e '. == {}' response.json; then
            http_code=$(
              curl -s -w "%{http_code}" -o response.json \
                -H "Authorization: Bearer ${PERSONAL_TOKEN}" \
                -X PUT \
                "${GITHUB_URL}" \
                -d '{"limit":"existing_users","expiry":"six_months"}'
            )
    
            if [ "$http_code" -eq 200 ]; then
              echo "result=\"Limits successfully set.\"" >> "$GITHUB_OUTPUT"
            else
              echo "result=\"Failed to set limits with HTTP $http_code\"" >> "$GITHUB_OUTPUT"
              exit 1
            fi

          elif jq -e 'has("limit")' response.json; then
            echo "result=Limits already active. 
            Expires at: $(jq -r '.expires_at // empty' response.json)" >> "$GITHUB_OUTPUT"
          fi

          
      - name: Exhibit errors
        id: errors
        if: failure()
        run: |
          set -euo pipefail

          [ -f response.json ] || exit 0
          jq -e 'has("message") and has("documentation_url")' response.json || exit 0

          echo "result=An error occurred during the execution. Details: $(cat response.json)" >> "$GITHUB_OUTPUT"
          
      - name: Send report to webhook
        if: always()

        run: |
          curl -X POST "$WEBHOOK_URL" \
            -H "Content-Type: application/json" \
            --data "{\"alias\":\"Security Notifications\",\"text\":\"**User Limit Interaction - ($GITHUB_REPOSITORY)**\\n
            \\n${{ steps.manage.outputs.result }}\\n\\n${{ steps.errors.outputs.result }}\"}"